<template lang="pug">
  v-container
    v-snackbar( v-model="snackbar" :color="snackbarType" :top="true" :timeout="2000") {{snackbarText}}
    v-row
      v-col
        download-csv(:data="formatedUsersArr" ref='exportBtn' )
          v-btn.primary(block x-large)
            span Export to CSV
    v-row
      v-col
        user-table(:selectable='false' :usersArr='usersArr' :loadingData="loadingData")
    v-row
      v-btn.secondary(block @click='goBack' x-large)
        span Go back

</template>

<script>
import userTable from "@/components/userTable";

export default {
  name: "ExportUsers",
  components: {
    userTable,
  },
  mounted() {
    this.usersArr = this.$helpers.getUsersSelected();
    this.formatedUsersArr = [];
    this.usersArr.forEach((user) => {
      this.formatedUsersArr.push({
        gender: user.gender,
        name: `${user.name.title}. ${user.name.first} ${user.name.last}`,
        email: user.email,
        date_of_birth: `${this.$moment(user.dob.date).format("DD/MM/YYYY")} (${
          user.dob.age
        } years)`,
        date_of_register: this.$moment(user.registered.date).format(
          "DD/MM/YYYY"
        ),
      });
    });
  },
  data() {
    return {
      loadingData: false,
      snackbar: false,
      snackbarType: "info",
      snackbarText: "",
      usersArr: [],
      formatedUsersArr: [],
      selected: [],
    };
  },
  methods: {
    goBack() {
      this.$router.push({ path: "/" });
    },
  },
};
</script>
