<template lang="pug">
  v-container
    v-card.col-12
      v-row
        v-col.col-xl-2.col-md-3.col-12
          v-img.profile-image(
            :src="userData.picture.large"
            max-height="220"
            max-width="220"
          )
        v-col.col-xl-10.col-md-9.col-12
          .map-container
            leaflet-map.map(max_width :value="{ latitude: userData.location.coordinates.latitude, longitude: userData.location.coordinates.longitude}")
        v-col.col-12
          v-btn.primary(@click="favoritesButton" block elevation="2")
            <v-icon>mdi-account-star</v-icon>
            span &nbsp {{checkIsFavorite() ? 'Delete from' : 'Add to '}} favorites
      v-row
        v-card.col-12
          v-card-title
            h3 Personal data
            v-card-text
              v-row
                p Name: {{userData.name.title}}. {{userData.name.first}} {{userData.name.last}}
              v-row
                p Email: {{userData.email}}
          v-divider
          v-card-title
            h3 Location data
            v-card-text
              v-row
                p City: {{userData.location.city}}
              v-row
                p Street: {{userData.location.street.name}} {{userData.location.street.number}}
              v-row
                p Phone: {{userData.phone}}

</template>

<script>
import leafletMap from "@/components/leafletMap";

export default {
  name: "Profile",
  components: {
    leafletMap,
  },
  mounted() {
    this.userData = this.$helpers.getUserProfile();
    this.usersSelected = this.$helpers.getUsersSelected();
  },
  data() {
    return {
      action: "Add",
      usersSelected: [],
      userData: {
        dob: {
          age: "",
          date: "",
        },
        email: "",
        gender: "",
        location: {
          city: "",
          coordinates: {
            latitude: 0,
            longitude: 0,
          },
          street: {
            name: "",
            number: "",
          },
        },
        name: {
          first: "",
          last: "",
          title: "",
        },
        nat: "",
        picture: {
          large: "",
          medium: "",
          thumbnail: "",
        },
        registered: {
          age: "",
          date: "",
        },
      },
    };
  },
  methods: {
    checkIsFavorite() {
      if (
        this.usersSelected.findIndex(
          (el) => el.login.uuid === this.userData.login.uuid
        ) !== -1
      ) {
        return true;
      } else {
        return false;
      }
    },
    favoritesButton() {
      let index = this.usersSelected.findIndex(
        (el) => el.login.uuid === this.userData.login.uuid
      );
      if (index !== -1) {
        this.usersSelected.splice(index, 1);
      } else {
        this.usersSelected.push(this.userData);
      }
      this.$store.dispatch("changeUsersSelected", this.usersSelected);
    },
  },
};
</script>

<style lang="sass">
.profile-image
  margin: auto
  border-radius: 200px
.map-container
  .map
    z-index: 1
    width: 100% !important
    height: 220px !important
</style>
