<template lang="pug">
  v-container
    v-row
      v-col.col-lg-4.col-md-6.col-12
        v-select(
          filled
          dense
          label='Gender'
          v-model='filters.gender'
          :items='genderOptions'
          item-text='label'
          item-value='value'
          clearable
        )
      v-col.col-lg-4.col-md-6.col-12
        v-range-slider(
          v-model="filters.age_range"
          :max="100"
          :min="0"
          hint="Select age range"
          persistent-hint
        )
          template(v-slot:prepend)
            span {{ filters.age_range[0] }}
          template(v-slot:append)
            span {{ filters.age_range[1] }}
      v-col.col-lg-4.col-md-12
        v-autocomplete(
          filled
          dense
          chips
          deletable-chips
          multiple
          small-chips
          label='Nationality'
          v-model='filters.nationality'
          :items='nationalityOptions'
          item-text='label'
          item-value='value'
          clearable
        )
      v-col.col-12
        v-btn.primary(block x-large @click='fetchData()' )
          <v-icon rigth>mdi-account-search</v-icon>
          span &nbsp Search
    v-row
      v-col
        user-table(@update-selected='updateSelected' :usersArr='usersArr' :selectedUsers='selected' :loadingData="loadingData")
    v-row
      v-col
        v-btn.secondary(block x-large @click='goToExportUsers' )
          <v-icon rigth>mdi-account-star</v-icon>
          span &nbsp Show favourites

</template>

<script>
import userTable from "@/components/userTable";
import { getRandomUsers } from "@/api/randomUserApi";

export default {
  name: "UsersList",
  components: {
    userTable,
  },
  mounted() {
    this.usersArr = this.$helpers.getUsers();
    this.selected = this.$helpers.getUsersSelected();
    for (let i = 0; i <= 100; i++) {
      this.ageOptions.push(i);
    }
  },
  data() {
    return {
      loadingData: false,
      snackbar: false,
      snackbarType: "info",
      snackbarText: "",
      filters: {
        gender: null,
        age_range: [0, 100],
        nationality: null,
      },
      genderOptions: [
        { label: "Male", value: "male" },
        { label: "Female", value: "female" },
      ],
      usersArr: [],
      selected: [],
      ageOptions: [],
      nationalityOptions: [
        { label: "Australian", value: "AU" },
        { label: "Brazilian", value: "BR" },
        { label: "Canadian", value: "CA" },
        { label: "Swiss", value: "CH" },
        { label: "German", value: "DE" },
        { label: "Danish", value: "DK" },
        { label: "Spanish", value: "ES" },
        { label: "Finnish", value: "FI" },
        { label: "French", value: "FR" },
        { label: "British", value: "GB" },
        { label: "Irish", value: "IE" },
        { label: "Iranian", value: "IR" },
        { label: "Norwegian", value: "NO" },
        { label: "Dutch", value: "NL" },
        { label: "New Zealand", value: "NZ" },
        { label: "Turkish", value: "TR" },
        { label: "American", value: "US" },
      ],
    };
  },
  methods: {
    fetchData() {
      this.loadingData = true;
      getRandomUsers(this.filters.gender, this.filters.nationality).then(
        (response) => {
          this.usersArr = this.applyAgeFilter(response.results);
          this.$store.dispatch("changeUsers", this.usersArr);
          this.loadingData = false;
        }
      );
    },
    applyAgeFilter(users) {
      let arrIndex = [];
      users.forEach((user, index) => {
        if (
          !(
            user.dob.age >= this.filters.age_range[0] &&
            user.dob.age <= this.filters.age_range[1]
          )
        ) {
          arrIndex.push(index);
        }
      });
      for (var i = arrIndex.length - 1; i >= 0; i--) {
        users.splice(arrIndex[i], 1);
      }
      return users;
    },
    updateSelected(usersSelected) {
      this.selected = usersSelected;
      this.$store.dispatch("changeUsersSelected", usersSelected);
    },
    goToExportUsers() {
      if (!this.selected.length) {
        this.$bus.$emit(
          "showNotification",
          "You must select at least one user to be able to export a list of users.",
          "error"
        );
      } else {
        this.$router.push({ path: "/export" });
      }
    },
  },
};
</script>
