<template lang="pug">
    v-snackbar( v-model="visible" :color="snackbarType" :top="true" :timeout="timeout") {{snackbarText}}
</template>

<script>
export default {
  name: "notification",
  mounted() {
    this.$bus.$on("showNotification", (message, type = "info") => {
      this.snackbarText = message;
      this.snackbarType = type;
      this.visible = true;
    });
  },
  data() {
    return {
      visible: false,
      snackbarType: "info",
      timeout: 2000,
      snackbarText: "",
    };
  },
};
</script>
