<template lang="pug">
  v-data-table(
    class="elevation-1"
    :headers="usersHeaders"
    :items="usersArr"
    :items-per-page="10"
    item-key="email"
    @input='updateSelected'
    :loading="loadingData"
    loading-text="Loading... Please wait"
    :show-select="selectable"
    v-model='selected'
  )
    template(v-slot:header.data-table-select="{ item }")
      <v-icon color='green'>mdi-account-star</v-icon>
    template(v-slot:item.name="{ item }")
      span {{item.name.title}}. {{ item.name.first }} {{ item.name.last }}
    template(v-slot:item.gender="{ item }")
      template(v-if='item.gender === "male"')
        <v-icon color='blue'>mdi-gender-male</v-icon>
        span Male
      template(v-else)
        <v-icon color='pink'>mdi-gender-female</v-icon>
        span Female
    template(v-slot:item.nat="{ item }")
        country-flag(:country='item.nat' :rounded='true')
    template(v-slot:item.dob.date="{ item }")
      span {{$moment(item.dob.date).format('DD/MM/YYYY')}} ({{item.dob.age}} years)
    template(v-slot:item.registered.date="{ item }")
      span {{$moment(item.registered.date).format('DD/MM/YYYY')}}
    template(v-slot:item.showProfile="{ item }")
      <v-icon medium color='blue' class="mr-2" @click="showProfile(item)">mdi-account-eye</v-icon>
</template>

<script>
import countryFlag from "vue-country-flag";

export default {
  name: "userTable",
  components: {
    countryFlag,
  },
  props: {
    selectedUsers: {
      type: Array,
      default() {
        return [];
      },
    },
    usersArr: {
      type: Array,
      default() {
        return [];
      },
    },
    loadingData: {
      type: Boolean,
      default: false,
    },
    selectable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      selected: [],
      usersHeaders: [
        { text: "Gender", align: "start", value: "gender" },
        { text: "Name", value: "name" },
        { text: "Email", value: "email" },
        { text: "Nationality", value: "nat" },
        { text: "Date of birth", value: "dob.date" },
        { text: "Date of register", value: "registered.date" },
        {
          text: "Show profile",
          value: "showProfile",
          width: "120px",
          align: "center",
        },
      ],
    };
  },
  watch: {
    selectedUsers: function (val) {
      this.selected = val;
    },
  },
  methods: {
    updateSelected(selectedUsers) {
      this.$emit("update-selected", selectedUsers);
    },
    showProfile(profile) {
      this.$store.dispatch("changeUserProfile", profile);
      this.$router.push({ path: "/profile" });
    },
  },
};
</script>
