<template lang="pug">
  v-app
    notification
    v-app-bar(app color="primary" dark)
        .d-flex.align-center
          v-img(
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
            transition="scale-transition"
            width="40"
          )
          h2.d-none.d-sm-inline-block Random users list

        v-spacer
        router-link.link-to-route(:to="{ name: 'UsersListRoute' }")
          v-btn(text)
            v-icon mdi-account-group
            span.mr-2 &nbsp Users

        .link-to-route(@click='goToExportUsers')
          v-btn(text)
            v-icon mdi-account-star
            span.mr-2 &nbsp Favorites
    v-main
      router-view
</template>

<script>
import notification from "@/components/notification";
export default {
  name: "App",
  components: {
    notification,
  },
  methods: {
    goToExportUsers() {
      if (!this.$helpers.getUsersSelected().length) {
        this.$bus.$emit(
          "showNotification",
          "You must select at least one user to be able to export a list of users.",
          "error"
        );
      } else {
        this.$router.push({ path: "/export" });
      }
    },
  },
};
</script>
